@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.cursive {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
}

.prose img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.home-name {
    font-size: 150px;
}